.txtInput {
  color: #555;
  width: 98%;
  height: 35px;
  font-family: Arial,serif;
  font-size: 26px;
  margin-top: 2px;
  margin-bottom: 10px;
  background: transparent none repeat scroll 0;
  border-width: medium;
}

body{color:#466;font:normal 80% "Lucida Sans Unicode",sans-serif;margin:0;  cursor: default;}

.unselectable{
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}

.nonHideableWords{
  font-family: Arial,serif;
  font-size: 20px;
  margin: 10px 0 2px 0;
}

.chrome_m{
  background-color:#fafafa;
}

.gameView{
  margin-left: auto;
  margin-right: auto;
}

.scoreboard{  width:100%; }
.scoreboard .row{width:100%;}
.scoreboard .row .userInfoView{width:80px;text-align:right;padding-right:10px;white-space:nowrap;overflow:hidden;}
.scoreboard .row .progressBar{background-color:transparent;border-bottom-style:dashed;border-color:goldenrod;width:100%;margin-top:6px;}
.scoreboard .row .rankPanel{margin-left:10px;}
.scoreboard .row .rankPanel .rankPanelWpm-user{font-size:150%;font-weight:bold;}